@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
.header, .header__container, .header__top, .header__content, .header__button__box, .wrapper, .latest__product, .latest__product__content, .latest__product__img, .row__items, .item__number, .web_resources, .web_resources__img, .web_resouces__numbers, .web_resouces__button__box, .slider .slick-dots, .send, .services, .services__box, .services__item, .testimonials, .testimonials__item__person, .slider2 .slick-dots, .start, .start__box, .start__buttons, .start__button, .footer__box, .footer__icons, .footer__info, .contact-form, .contact-form__input__name-box, .slider3 .slick-dots, .inner__container, .inner__gallery__items, .team__box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px; }

/*index.html -------------------*/
/*Header*/
.header {
  background-image: url("../images/bg_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 650px;
  position: relative; }

.header__overflow {
  background-color: black;
  top: 0;
  height: 650px;
  width: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0.4; }

.header__container {
  width: 100%;
  max-width: 960px;
  height: 100%;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
  z-index: 2;
  margin: 0 auto; }
  @media (min-width: 768px) and (max-width: 991px) {
    .header__container {
      padding: 0 15px; } }
  @media (max-width: 767px) {
    .header__container {
      padding: 0 15px; } }

.header__top {
  top: 0;
  height: 50px;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center; }

.logo {
  color: #ffffff;
  font-weight: 900;
  font-size: 28px; }
  .logo span {
    color: #FB742D; }

.header__content {
  max-height: 600px;
  max-width: 880px;
  -webkit-animation: fadeInUp;
  animation: fadeInUp; }

.header__text {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  line-height: 44px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .header__text {
      font-size: 30px; } }
  @media (max-width: 767px) {
    .header__text {
      font-size: 28px; } }
  @media (max-width: 480px) {
    .header__text {
      font-size: 24px; } }

.header__button__box {
  width: 100%;
  margin: 45px 0 0 0; }

.button {
  background-color: #FB742D;
  color: #ffffff;
  border: 0;
  width: auto;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  padding: 0 20px; }
  .button:active {
    border: 2px solid #048bfe; }

/*Бургер меню*/
.burger__menu {
  width: 30px;
  height: 30px;
  cursor: pointer; }
  .burger__menu.active .first {
    display: none; }
  .burger__menu.active .second {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .burger__menu.active .third {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .burger__menu.active .fourth {
    display: none; }
  .burger__menu:hover .first {
    top: 17px; }
  .burger__menu:hover .fourth {
    top: 33px; }

.burger-line {
  max-width: 960px;
  position: absolute;
  top: 12px;
  width: 30px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all; }

.second, .third {
  top: 25px; }

.fourth {
  top: 38px; }

/*Прячущаяся навигация*/
.header__navbar {
  position: fixed;
  z-index: 5;
  background-color: #ffffff;
  height: 100%;
  width: 250px;
  float: right;
  top: 0;
  right: 0;
  text-align: left;
  max-width: 0;
  -webkit-transition: max-width 0.4s linear;
  -o-transition: max-width 0.4s linear;
  transition: max-width 0.4s linear;
  overflow: auto; }

.navbar__cross {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  float: right;
  right: 10px;
  top: 12px;
  position: relative;
  -webkit-transition: max-width 0.4s ease;
  -o-transition: max-width 0.4s ease;
  transition: max-width 0.4s ease; }
  .navbar__cross.active {
    display: block; }

.cross__line {
  top: 15px;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #222; }

.cross__line__first {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.cross__line__second {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.header__navbar li {
  line-height: 30px; }

.header__navbar a {
  color: #222; }

.header__navbar.active {
  max-width: 300px; }

.navbar__items {
  top: 75px;
  position: relative;
  margin: 0 0 0 30px; }

/*Main*/
.wrapper {
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px; }

/*Latest product*/
.latest__product {
  width: 880px;
  margin: -70px 0 0 0; }
  @media (min-width: 768px) and (max-width: 991px) {
    .latest__product {
      width: 700px; } }
  @media (max-width: 767px) {
    .latest__product {
      width: 400px; } }
  @media (max-width: 480px) {
    .latest__product {
      width: 300px; } }

.latest__product__content {
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  height: 150px;
  width: 100%;
  background-color: #222;
  padding: 30px;
  margin: auto;
  position: relative;
  z-index: 1;
  border-radius: 7px;
  -webkit-box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.3);
  -webkit-animation: fadeInUp;
  animation: fadeInUp; }
  @media (min-width: 768px) and (max-width: 991px) {
    .latest__product__content {
      height: auto; } }
  @media (max-width: 767px) {
    .latest__product__content {
      height: auto;
      padding: 30px 30px 40px 30px; } }
  @media (max-width: 480px) {
    .latest__product__content {
      height: auto;
      padding: 30px 30px 40px 30px; } }

.latest__product__img {
  z-index: 1;
  position: absolute;
  right: calc((100vw - 880px) / 2 + 20px);
  border-radius: 7px;
  -webkit-box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.3);
  width: auto;
  height: 300px;
  overflow: hidden;
  -webkit-animation: fadeInUp;
  animation: fadeInUp; }
  .latest__product__img img {
    height: 300px; }
    @media (max-width: 480px) {
      .latest__product__img img {
        height: 250px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .latest__product__img {
      right: calc((100vw - 700px) / 2 + 20px); } }
  @media (max-width: 767px) {
    .latest__product__img {
      position: relative;
      right: 0;
      margin: -20px 0 0 0; } }
  @media (max-width: 480px) {
    .latest__product__img {
      height: 250px; } }

.latest__product__text {
  width: 500px;
  text-align: left;
  position: relative;
  z-index: 1; }
  .latest__product__text h2 {
    color: #ffffff;
    line-height: 24px;
    font-size: 20px;
    font-family: "Playfair Display", serif;
    font-weight: 400; }
  .latest__product__text h3 {
    color: #FB742D;
    line-height: 14px;
    font-size: 10px; }
  .latest__product__text p {
    font-size: 14px;
    font-weight: 500;
    color: #808080;
    line-height: 18px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .latest__product__text {
      width: 320px; } }

/*Row*/
.row__items {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 125px 0 0 0;
  width: 100%; }
  @media (max-width: 991px) {
    .row__items {
      -ms-flex-pack: distribute;
      justify-content: space-around; } }

.item {
  max-width: 220px;
  height: auto;
  padding: 10px 20px 40px 20px;
  -webkit-box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.3);
  -webkit-animation: fadeInUp;
  animation: fadeInUp; }

.item__number {
  background-color: #FB742D;
  color: #ffffff;
  -webkit-box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.3);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 18px; }

.item__content {
  text-align: left;
  font-size: 16px;
  margin: 20px 0;
  color: #222; }

.link {
  font-size: 12px; }
  .link a {
    color: #FB742D; }

/* Web resources*/
.web_resources {
  width: 100%;
  margin: 50px 0 0 0; }

.web_resources__img {
  width: 50%;
  -webkit-animation: fadeInUp;
  animation: fadeInUp; }
  .web_resources__img img {
    width: auto;
    height: 400px; }
    @media (max-width: 480px) {
      .web_resources__img img {
        height: 300px; } }
  @media (max-width: 767px) {
    .web_resources__img {
      width: 100%; } }

.web_resouces__column {
  width: 50%;
  -webkit-animation: fadeInUp;
  animation: fadeInUp; }
  @media (max-width: 767px) {
    .web_resouces__column {
      width: 100%; } }

.web_resources__content {
  text-align: left;
  line-height: 18px;
  margin: 30px; }

.web_resouces__text h2 {
  font-size: 30px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  line-height: 46px; }

.web_resouces__numbers {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.web_resouces__numbers__item {
  margin: 30px 90px 30px 0; }
  .web_resouces__numbers__item span {
    font-size: 30px; }

.web_resouces__links {
  margin: 10px 0; }

.web_resouces__link {
  font-size: 14px;
  line-height: 20px;
  padding-left: 30px;
  position: relative; }
  .web_resouces__link:before {
    content: "\e5ca";
    position: absolute;
    font-family: 'icomoon';
    left: 0;
    font-size: 18px; }

.web_resouces__button__box {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

/*Новости Слайдер*/
.news__block {
  width: 100%;
  color: #ffffff;
  margin: 50px 0 0 0;
  position: relative;
  background-color: #222;
  padding: 50px 0 100px 0;
  z-index: 1;
  -webkit-animation: fadeInUp;
  animation: fadeInUp; }

.news__title {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 26px;
  text-align: left;
  margin: 0 0 50px 90px; }
  @media (max-width: 480px) {
    .news__title {
      margin: 0 0 50px 30px; } }

.news__item {
  width: 300px;
  background-color: #333;
  padding: 50px 20px 40px 20px;
  text-align: left;
  z-index: 1;
  position: relative;
  margin: 20px 8px; }

.news__item__photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  z-index: 2;
  top: -20px;
  left: 15px; }
  .news__item__photo img {
    width: 60px;
    height: 60px; }

.news__item__name {
  font-size: 12px;
  padding: 8px; }

.news__item__content h2 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 20px;
  padding: 8px 0; }

.news__item__content p {
  font-size: 14px;
  line-height: 18px;
  padding: 8px 0; }

/* Слайдер */
.slick-list {
  overflow: hidden; }

.slick-track {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.slider {
  position: relative;
  padding: 0 50px;
  height: auto; }
  @media (max-width: 320px) {
    .slider {
      padding: 0 10px; } }
  .slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    z-index: 3;
    font-size: 0;
    width: 40px;
    height: 80px; }
    @media (max-width: 480px) {
      .slider .slick-arrow {
        display: none; } }
    .slider .slick-arrow.slick-prev {
      left: 0;
      background: url("../images/arrow__left2.png") 0 0/100% no-repeat; }
    .slider .slick-arrow.slick-next {
      right: 0;
      background: url("../images/arrow__right2.png") 0 0/100% no-repeat; }
  .slider .slick-dots li {
    list-style: none;
    margin: 0px 16px; }
    .slider .slick-dots li.slick-active button {
      background-color: #fff;
      width: 10px;
      height: 10px;
      opacity: 1; }
    @media (max-width: 480px) {
      .slider .slick-dots li {
        margin: 0px 5px; } }
  .slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    border: 0;
    opacity: 0.3; }

/*Send box*/
.send {
  max-width: 880px;
  height: 150px;
  background-color: #FB742D;
  color: #222;
  padding: 30px;
  margin: -75px 0 0 0;
  border-radius: 7px;
  z-index: 1;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.3);
  -webkit-animation: fadeInUp;
  animation: fadeInUp; }
  @media (min-width: 768px) and (max-width: 991px) {
    .send {
      max-width: 700px; } }
  @media (max-width: 767px) {
    .send {
      max-width: 400px;
      height: auto; } }
  @media (max-width: 480px) {
    .send {
      max-width: 300px;
      height: auto; } }

.send__text {
  width: 50%; }
  .send__text h2 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px; }
    @media (max-width: 480px) {
      .send__text h2 {
        line-height: 30px;
        margin: 0 0 10px 0; } }
  .send__text p {
    font-size: 14px;
    font-weight: 500; }
  @media (max-width: 767px) {
    .send__text {
      width: 100%; } }

.send__form {
  width: 50%; }
  @media (max-width: 767px) {
    .send__form {
      width: 100%; } }

.send__form__text {
  background-color: transparent;
  border-bottom: #222 solid 1px;
  font-weight: 500;
  width: 70%;
  color: #222;
  outline: none;
  height: 50px; }

.send__form__button {
  background-color: #fff;
  color: #222; }
  .send__form__button:active {
    background-color: #048bfe; }

/*Services*/
.services {
  width: 100%;
  margin: 50px 0 0 0; }

.services__title {
  width: 100%;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 32px;
  margin: 0 0 30px 0;
  text-align: center;
  -webkit-animation: fadeInUp;
  animation: fadeInUp; }

.services__box {
  width: 100%; }

.services__item {
  max-width: 440px;
  padding: 30px;
  -webkit-box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.15);
  margin: 10px 10px;
  -webkit-animation: fadeInUp;
  animation: fadeInUp; }
  .services__item:hover {
    -webkit-box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.3); }
  .services__item:hover .services__item__img {
    background-color: #FB742D; }

.services__item__img {
  font-size: 42px;
  background-color: #f0f0f0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 64px; }

.services__item__text {
  max-width: 300px;
  margin: 0 0 0 14px;
  font-size: 14px;
  line-height: 18px; }
  .services__item__text h3 {
    font-size: 16px;
    line-height: 30px;
    font-weight: 700; }

/*Testimonials*/
.testimonials {
  width: 100%;
  margin: 50px 0 0 0; }

.testimonials__title {
  width: 100%;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 32px;
  margin: 0 0 30px 0;
  text-align: center;
  -webkit-animation: fadeInUp;
  animation: fadeInUp; }

.testimonials__box {
  width: 100%;
  -webkit-animation: fadeInUp;
  animation: fadeInUp; }

.testimonials__item {
  background-color: #333;
  color: #f0f0f0;
  width: 300px;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  font-size: 18px; }

.testimonials__item__text {
  font-size: 14px;
  line-height: 16px; }

.testimonials__item__person {
  margin: 10px 0; }

.person__photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 16px 0 0; }
  .person__photo img {
    width: 40px;
    height: 40px; }

.person__name h4 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff; }

.person__name p {
  font-size: 12px; }

/*слайдер 2*/
.slick-list {
  overflow: hidden; }

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.slider2 {
  position: relative;
  padding: 0 50px;
  height: auto; }
  @media (max-width: 320px) {
    .slider2 {
      padding: 0 10px; } }
  .slider2 .slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    z-index: 1;
    font-size: 0;
    width: 40px;
    height: 80px; }
    @media (max-width: 480px) {
      .slider2 .slick-arrow {
        display: none; } }
  .slider2 .slick-arrow.slick-prev {
    left: 0;
    background: url("../images/left-black.png") 0 0/100% no-repeat; }
  .slider2 .slick-arrow.slick-next {
    right: 0;
    background: url("../images/pngwing.com.png") 0 0/100% no-repeat; }
  .slider2 .slick-dots li {
    list-style: none;
    margin: 0px 16px; }
    @media (max-width: 480px) {
      .slider2 .slick-dots li {
        margin: 0px 5px; } }
  .slider2 .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    border: 0;
    opacity: 0.3; }
  .slider2 .slick-dots li.slick-active button {
    background-color: #FB742D;
    width: 10px;
    height: 10px;
    opacity: 1; }

/*Ready to start*/
.start {
  width: 100%;
  margin: 50px 0;
  -webkit-animation: fadeInUp;
  animation: fadeInUp; }

.start__box {
  width: 880px;
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 30px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .start__box {
      max-width: 700px; } }
  @media (max-width: 767px) {
    .start__box {
      max-width: 400px; } }
  @media (max-width: 480px) {
    .start__box {
      max-width: 300px;
      padding: 10px; } }

.start__text {
  width: 50%;
  margin: 0 100px 0 0; }
  .start__text h2 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px; }
  .start__text p {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .start__text {
      width: 100%; } }
  @media (max-width: 767px) {
    .start__text {
      width: 100%; } }
  @media (max-width: 480px) {
    .start__text {
      width: 100%;
      text-align: center;
      margin: 0; } }

@media (min-width: 768px) and (max-width: 991px) {
  .start__buttons {
    margin: 20px 0 0 0; } }

@media (max-width: 767px) {
  .start__buttons {
    margin: 20px 0 0 0; } }

.start__button {
  margin: 8px; }

/*Footer*/
.footer {
  background-color: #f0f0f0;
  color: #555;
  width: 100%;
  position: absolute;
  min-height: 350px;
  font-size: 14px; }
  .footer li {
    line-height: 24px; }
  .footer a:hover {
    color: #000; }

.footer__content {
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px; }

.footer__box {
  width: 100%;
  height: auto;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 50px 0 0 0; }
  .footer__box a {
    color: #555; }

.footer__about {
  max-width: 340px; }
  @media (max-width: 767px) {
    .footer__about {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; } }
  @media (max-width: 480px) {
    .footer__about {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%; } }

.footer__pages {
  max-width: 150px; }
  @media (max-width: 767px) {
    .footer__pages {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; } }
  @media (max-width: 480px) {
    .footer__pages {
      margin: 15px 0 0 0; } }

.footer__resources {
  max-width: 150px; }
  @media (max-width: 767px) {
    .footer__resources {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
      order: 4;
      margin: 15px 0 0 0; } }
  @media (max-width: 480px) {
    .footer__resources {
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3; } }

.footer__contact {
  max-width: 270px; }
  .footer__contact span {
    margin: 5px; }
  @media (max-width: 767px) {
    .footer__contact {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3;
      margin: 15px 0 0 0; } }
  @media (max-width: 480px) {
    .footer__contact {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
      order: 4; } }

.footer__title {
  font-weight: 700;
  line-height: 20px;
  color: #000; }

.footer__text {
  line-height: 18px; }

.footer__icons {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  padding: 15px 0 0 0; }

.footer__icon {
  width: 30px;
  height: 30px;
  background-color: #FB742D;
  border-radius: 50%;
  font-size: 18px;
  line-height: 30px;
  text-align: center; }
  .footer__icon a {
    color: #fff; }

.footer__info {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 150px 0 0 0; }
  @media (max-width: 767px) {
    .footer__info {
      padding: 30px 0 0 0; } }

.terms li {
  display: inline-block;
  padding: 0 10px 0 0; }

/*------------------------------------------------------------------------*/
/*Contact us*/
.contact-us {
  width: 700px;
  margin: 50px 0 50px 0;
  -webkit-animation: fadeInUp;
  animation: fadeInUp; }
  .contact-us h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px; }
  .contact-us h2 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 30px;
    margin: 0 0 30px 0; }

.contact-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.contact-form__input__name-box {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%; }

.contact-form__input__box {
  margin: 10px 0;
  width: 100%; }

.contact-form__input__name {
  width: 48%; }
  @media (max-width: 480px) {
    .contact-form__input__name {
      width: 100%; } }

.contact-form__input {
  border: solid 2px #d3d3d3;
  border-radius: 3px;
  margin: 10px 0;
  line-height: 40px;
  font-size: 16px;
  width: 100%; }

#select {
  height: 40px; }

.active__input {
  border: solid 2px #FB742D; }

.email__message {
  font-size: 12px;
  color: #808080; }

.contact-form__input_message {
  resize: none; }

.contact-form__button {
  font-size: 16px; }

input[type="checkbox"] {
  display: none; }

.label__checkbox:before {
  content: " ";
  color: #fff;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  text-align: center;
  width: 18px;
  height: 18px;
  background: #eeeded;
  vertical-align: middle;
  border-radius: 3px; }

input:checked + .label__checkbox:before {
  content: "\e5ca";
  font-family: 'icomoon';
  background-color: #FB742D; }

/*---------------------------------------*/
/*Inner page*/
/*Слайдер 3*/
.slider3 {
  -webkit-animation: fadeInUp;
  animation: fadeInUp;
  margin: 50px 0 0 0;
  width: 100%;
  position: relative;
  height: auto; }
  .slider3 .slider__item {
    width: 100%; }
    .slider3 .slider__item img {
      width: 100%; }
  .slider3 .slick-arrow {
    font-size: 0;
    display: none; }
  .slider3 .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 50px;
    margin-left: -22px; }
    .slider3 .slick-dots li {
      list-style: none;
      margin: 0px 10px; }
      @media (max-width: 480px) {
        .slider3 .slick-dots li {
          margin: 0px 5px; } }
    .slider3 .slick-dots button {
      font-size: 0;
      width: 8px;
      height: 8px;
      background-color: #fff;
      border-radius: 50%;
      border: 0;
      opacity: 0.7; }
    .slider3 .slick-dots li.slick-active button {
      background-color: #FB742D;
      width: 10px;
      height: 10px;
      opacity: 1; }

/*Inner contant*/
.inner__container {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%; }

.inner__column {
  width: 50%;
  padding: 0 20px; }
  @media (max-width: 767px) {
    .inner__column {
      width: 100%; } }

.inner__title {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 18px;
  width: 100%;
  margin: 20px 0; }

/*Accordion*/
.inner__accordion {
  -webkit-animation: fadeInUp;
  animation: fadeInUp; }

.inner__accordion__content__title {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 20px 0;
  color: #808080;
  cursor: pointer; }
  .inner__accordion__content__title span {
    margin: 0 10px 0 0; }
  .inner__accordion__content__title:before {
    content: "\f067";
    font-family: 'icomoon';
    margin: 0 10px 0 0; }
  .inner__accordion__content__title.inner__accordion__active {
    color: #FB742D; }
  .inner__accordion__content__title.inner__accordion__active:before {
    content: "\f068";
    font-family: 'icomoon';
    margin: 0 10px 0 0; }

.inner__accordion__content__text {
  display: none;
  background-color: #eeeded;
  color: #555;
  padding: 14px;
  font-size: 14px;
  line-height: 16px; }
  .inner__accordion__content__text.inner__accordion__active {
    display: block; }

/*Gallery*/
.inner__gallery {
  -webkit-animation: fadeInUp;
  animation: fadeInUp; }

.inner__gallery__items {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .inner__gallery__items img {
    width: 30%;
    margin: 10px 0 0 0; }
    .inner__gallery__items img:hover {
      opacity: 0.5; }

.inner__video {
  -webkit-animation: fadeInUp;
  animation: fadeInUp; }
  .inner__video iframe {
    width: 100%;
    height: 250px;
    border-radius: 10px; }

.inner__form {
  -webkit-animation: fadeInUp;
  animation: fadeInUp; }

/*Team*/
.team {
  width: 100%;
  margin: 50px 0 0 0;
  -webkit-animation: fadeInUp;
  animation: fadeInUp; }

.team__title {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 32px;
  margin: 0 0 30px 0;
  text-align: center; }

.team__box {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (min-width: 768px) and (max-width: 991px) {
    .team__box {
      -ms-flex-pack: distribute;
      justify-content: space-around; } }
  @media (max-width: 767px) {
    .team__box {
      -ms-flex-pack: distribute;
      justify-content: space-around; } }

.team__item__img {
  width: 200px;
  height: auto;
  margin: 10px 0 10px 0; }
  .team__item__img img {
    width: 200px;
    height: auto; }

.team__item__text h3 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px; }
